<div class="container">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <h3><%= article.title %></h3><hr>
      <article>
        <%= article.content %>
      </article>
    </div>
  </div>
</div>
